/*初始化样式*/
body,h1,h2,h3,h4,h5,ul,li,a,div,p,span,table,tr,td,img{margin: 0;padding: 0;}
ul{padding: 0;margin: 0;}
li{list-style: none;}
a{text-decoration: none;}
img{outline: none;border: 0;}
body{font-family: "Microsoft Yahei";}
/*清除浮动*/
.cl{clear: both;}
.clearfix:before,
.clearfix:after{content: " ";display: table;}
.clearfix:after{clear: both;}
.clearfix{zoom: 1;}
/*浮动*/
.pull-right{float: right !important;}
.pull-left{float: left !important;}
/*----------------------------------------------------------------------------------------------------------*/
